.todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.todo-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.todo-item > p {
  margin: 0;
}
.contact-card {
  margin: 50px 50px;
}
.contact-card img {
  width: 250px;
}
.contact-card p {
  margin: 0;
}
.header-image {
  width: 100px;
}
.meme {
  display: table;
  height: auto;
  position: relative;
  background-color: red;
}
.meme img {
  width: 300px;
}
.meme .top,
.meme .bottom {
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
  color: #ffffff;
  font-weight: bolder;
  font-size: 2em;
}
.meme .top {
  top: 0;
}
.meme .bottom {
  bottom: 0;
}
